body {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 40px;
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	line-height: 150%;
	text-align: justify;
}
em {
	font-weight: bold;
	color: #009d91;
}


/*
 * Style link to look like a button
 */
 .btn {
 	font-weight: bold;
 	color: #009d91;
 	text-decoration: none;
 	background-color: #EEEEEE;
 	padding: 2px 6px 2px 6px;
 	border: 1px solid #cccccc;
 	border-radius: 0.3em;
 	margin: 0px 6px 0px 0px;
 }

button {
	width: 80px;
	height: 30px;
	margin: 0 10px 0 0;
}

#footer {
	position: fixed;
	bottom: 0px;
	height: 40px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	background-color: #ADD8E6;
}

#footer p {
	line-height: 100%;
	margin-bottom: 10px;
}


.navigation {
	background: url('/resource/img/navigation.png') top left repeat-x;
	height: 134px;
	overflow: auto;
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 15px; 
}

.navigation * {
	padding: 0;
	margin: 0;
	font-size: 13px;
	text-transform: uppercase;
}

.navigation ul {
	display: block;
	float: left;
	padding: 10px 0 0 0;
	margin: 37px 0 0 20px;
}

.navigation ul li {
	list-style: none;
	float: left;
	margin: 0 0 0 5px;
}

.navigation ul li a {
	background: url('/resource/img/nav_right.png') top right no-repeat;
	display: block;
	padding: 0 13px 0 0;
	color: #578ba0;
	text-decoration: none;
}

.navigation ul li:hover a, .navigation ul li:active a {
	background: url('/resource/img/nav_selected_right.png') top right no-repeat;
	color: #578ba0;
}

.navigation ul li a span {
	background: url('/resource/img/nav_left.png') top left no-repeat;
	display: block;
	padding: 15px 10px 10px 23px;
}

.navigation ul li:hover a span, .navigation ul li:active a span {
	background: url('/resource/img/nav_selected_left.png') top left no-repeat;
}

